body {
    color: white;
    background: rgb(60, 45, 233);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(150, 140, 254);
    padding: 20px;
    font-size: 64px;
    color: rgb(0, 0, 0);
    font-family: "Chakra Petch", sans-serif, bold;
}

.chamada {
    background: rgb(142, 147, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-family: "Chakra Petch", sans-serif;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
    font-family: "Chakra Petch", sans-serif;
}

p {
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    font-family: "Chakra Petch", sans-serif;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: black;
    font-family: "Chakra Petch", sans-serif;
}

footer{
    justify-content: center;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 50px;
}